<section class="intro text-center py-16">
  <h1 class="text-5xl text-[var(--accent)] mb-2 font-bold">
    Jose David Rivas Benoit
  </h1>
  <h2 class="text-2xl text-[var(--secondary)] mb-4">
    Full-stack Developer
  </h2>
  <p class="text-[1.1rem]">
    Crafting beautiful and performant web experiences
  </p>

</section>
