<section class="skills">
	<h3>Skills</h3>
	<ul>
		<li>HTML5</li>
		<li>CSS3</li>
		<li>JavaScript</li>
    <li>TypeScript</li>
		<li>React</li>
		<li>Vue.js</li>
    <li>Next.js</li>
    <li>Nuxt</li>
		<li>Responsive Design</li>
		<li>Web Performance</li>
		<li>Zustand</li>
		<li>Redux Toolkit</li>
		<li>Tailwind CSS</li>
		<li>GraphQL</li>
	</ul>
</section>

<style>
	.skills {
		margin-bottom: 4rem;
	}
	h3 {
		font-size: 1.5rem;
		color: var(--secondary);
		margin-bottom: 1rem;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		list-style-type: none;
		padding: 0;
	}
	li {
		background-color: rgba(245, 194, 231, 0.1);
		padding: 0.5rem 1rem;
		border-radius: 20px;
		font-size: 0.9rem;
	}
</style>
